.todoitem {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(240, 240, 240);
}

.todoitem input {
  width: 20px;
}

.todoitem .context {
  flex: 1;
}

.todoitem .date {
  font-size: 14px;
  color: gray;
}

.todoitem button {
  cursor: pointer;
  color: gray;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  padding: 8px;
}
